@import "vars";

.blog {
  display: flex;
  margin-top: 200px;
  gap: 57px;
}

.blogDetails {
  max-width: 800px;
  margin-bottom: 96px;
  &__contentClic {
    &__title {
      max-width: 684px;
      color: $colorTitles;
      font-family: $fontTitles;
      font-size: 50px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 2%;
      text-align: left;
    }
    &__img {
      margin-top: 11px;
      border-radius: 50px;
    }
    &__data {
      margin-top: 46px;
      padding-right: 70px;
      color: $colorText;
      font-family: $fontText;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 1%;
      text-align: left;
      text-transform: capitalize;
      justify-content: space-between;
      display: flex;
      align-items: center;
      gap: 409px;
    }
    &__text {
      margin-top: 48px;
      max-width: 780px;
      color: $colorText;
      font-family: $fontText;
      font-size: 22px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 1%;
      text-align: left;
    }
  }
  &__quotes {
    max-width: 799px;
    margin-top: 35px;
    padding: 20px 227px;
    border-radius: 50px;
    background: rgb(244, 240, 236);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__quote {
      width: 120px;
      height: 120px;
      color: rgb(205, 162, 116);
      font-family: $fontTitles;
      font-style: italic;
      font-size: 200px;
      font-weight: 400;
      line-height: 110%;
      letter-spacing: 4px;
      text-align: start;
    }
    &__text {
      color: rgb(205, 162, 116);
      font-family: $fontTitles;
      font-style: italic;
      font-size: 25px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 0.5px;
      text-align: center;
    }
  }
  &__content {
    margin-top: 27px;
    &__title {
        margin-bottom: 20px;
      color: $colorTitles;
      font-family: $fontTitles;
      font-size: 50px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 2%;
      text-align: left;
    }
    &__text {
      color: $colorText;
      font-family: $fontText;
      font-size: 22px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 1%;
      text-align: left;
    }
    &__points {
      margin-top: 24px;
      margin-bottom: 32px;
      display: flex;
      align-items: flex-start;
      gap: 14px;
    }
    &__points-num {
      color: rgb(205, 162, 116);
      font-family: $fontTitles;
      font-size: 20px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 2%;
      text-align: left;
    }
    &__points-text {
      max-width: 713px;
      color: $colorText;
      font-family: $fontText;
      font-size: 22px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 1%;
      text-align: left;
    }
    &__img {
      border-radius: 50px;
      margin-bottom: 35px;
    }
    // &__text {
    //   margin-top: 35px;
    //   margin-bottom: 96px;
    //   color: $colorText;
    //   font-family: $fontText;
    //   font-size: 22px;
    //   font-weight: 400;
    //   line-height: 150%;
    //   letter-spacing: 1%;
    //   text-align: left;
    // }
  }
}
.tegs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  &__title {
    color: $colorTitles;
    font-family: $fontTitles;
    font-size: 25px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 2%;
    text-align: left;
  }
  &__buttons {
    display: flex;
    row-gap: 11px;
    column-gap: 10px;
    flex-wrap: wrap;
    &__item {
      padding: 9px 30px;
      border-radius: 10px;
      border: none;
      font-family: $fontText;
      font-size: 18px;
      font-weight: 400;
      line-height: 125%;
      letter-spacing: 2%;
      text-align: center;
      &__active{
        background: rgb(41, 47, 54);
        color: rgb(255, 255, 255);
      }
      &__noActive {
        background: rgb(244, 240, 236);
        color: $colorText;
      }
    }
  }
}
